<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcvHeJ1ktduk5syNrzVlB1I_fCtzr1KfM</string>
	<key>GCM_SENDER_ID</key>
	<string>1058913472831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.home.RickMorty</string>
	<key>PROJECT_ID</key>
	<string>rickmorty-932d5</string>
	<key>STORAGE_BUCKET</key>
	<string>rickmorty-932d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058913472831:ios:54934e343caf053ca3038a</string>
</dict>
</plist>